<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layout}">
    <div layout:fragment="content">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title mt-5">Thêm mới bài giảng</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form method="post" th:object="${lessonDto}">
                        <input type="hidden" th:field="*{classid}">
                        <div class="row formtype">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Tiêu đề</label>
                                    <input class="form-control" type="text" th:field="*{title}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Vị trí</label>
                                    <input class="form-control" type="text" th:field="*{orderidx}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Mô tả</label>
                                    <textarea class="form-control" th:field="*{description}"></textarea>
                                </div>
                            </div>
                            
                          
                        </div>
                         <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Lưu</button>
                                <a style="margin-left: 2px" th:href="@{/admin/lessons/list(classid=${classid})}"
                                    class="btn btn-danger">Huỷ</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- <button type="submit" class="btn btn-primary buttonedit ml-2">Lưu</button> -->
        </div>
    </div>
</div>