<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layout}">
    <div layout:fragment="content">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="mt-5">
                            <h4 class="card-title float-left mt-2">Danh sách bài giảng</h4> <a href="add-blog.html"
                                class="btn btn-primary float-right veiwbutton"><i class="fas fa-plus-circle"></i>Thêm bài giảng</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-4" th:each="lesson : ${lessons}">
                    <div class="card"> <img class="card-img" th:src="@{/assets/img/product/lessonsImg.jpg}" alt="">
                        <div class="card-img-overlay"> <a href="#" class="btn btn-light btn-sm"><i class="fas fa-edit"></i>Sửa</a> </div>
                        <div class="card-body">
                            <h4 class="card-title" th:text="${lesson.title}"></h4>
                            <p class="card-text mt-3" th:text="${lesson.description}"></p> <a href="#"
                                class="btn btn-info"><i class="far fa-eye"></i>Nội dung</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>