<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{admin/layout}">

    <div  layout:fragment="content" >
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="mt-5">
                            <h4 class="card-title float-left mt-2">Danh sách tài khoản người dùng</h4>
                            <a th:href="@{/admin/accounts/create}" class="btn btn-primary float-right veiwbutton ">Thêm mới tài khoản</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body booking_card">
                            <div class="table-responsive">
                                <table class="datatable table table-stripped table table-hover table-center mb-0">
                                    <thead>
                                    <tr >
                                        <th>ID</th>
                                        <th>Tài khoản</th>
                                        <th>Vai trò</th>
                                        <th>Tên</th>
                                        <th>Địa chỉ</th>
                                        <th>SDT</th>
                                        <th>Hiện/ẩn</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="account : ${users}">
                                        <td th:text="${account.userid}"></td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" th:src="@{/assets/img/profiles/avatar-03.jpg}" alt="User Image"></a>
                                                <a th:text="${account.username}"></a>
                                            </h2>
                                        </td>
                                        <td th:text="${account.role.rolename}"></td>
                                        <td th:text="${account.fullname}"></td>
                                        <td th:text="${account.address}"></td>
                                        <td th:text="${account.phone}"></td>
                                        <td>
                                            <div class="actions"> <a th:text="${account.active} ? 'hoạt động': 'vô hiệu hoá'" class="btn btn-sm bg-success-light mr-2"></a> </div>
                                        </td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action"> <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v ellipse_color"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" th:href="@{/admin/accounts/edit(id=${account.userid})}"><i class="fas fa-pencil-alt m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" th:href="@{/admin/accounts/delete(id=${account.userid})}" onclick="return confirm('Ban có chắc chắn xoá?')">
                                                        <i class="fas fa-trash-alt m-r-5"></i> Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
