<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layout}">

    <div layout:fragment="content">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="mt-5">
                            <h4 class="card-title float-left mt-2">Danh sách bài tập</h4>
                            <a th:href="@{/admin/assignments/create(classid=${classid})}"
                                class="btn btn-primary float-right veiwbutton ">Thêm mới bài tập</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="datatable table table-stripped">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tiêu đề</th>
                                            <th>File</th>
                                            <th>Ngày tạo</th>
                                            <th>Hạn nộp</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="a, stat : ${assignments}">
                                            <td th:text="${stat.index + 1}"></td>
                                            <td th:text="${a.title}"></td>
                                            <td><a th:href="@{${a.fileurl}}">Tải xuống</a></td>
                                            <td th:text="${a.createdate}"></td>
                                            <td th:text="${a.deadline}"></td>
                                            <td>
                                                <div class="d-flex gap-2">
                                                    <a href="/edit/1" class="btn btn-sm btn-warning ">
                                                        <i class="bi bi-pencil"></i> Sửa
                                                    </a>|
                                                    <a href="/delete/1" class="btn btn-sm btn-danger "
                                                        onclick="return confirm('Xóa bài này?')">
                                                        <i class="bi bi-trash"></i> Xóa
                                                    </a>|
                                                    <a href="/submit/1" class="btn btn-sm btn-primary">
                                                        <i class="bi bi-file-earmark-arrow-up"></i> Bài nộp
                                                    </a>
                                                </div>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>